node_modules
dist
.next
.env
.env.local
.env.production
apps/api/.env
apps/web/.env.local
*.log
coverage
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
.pgdata
backups/
apps/api/uploads/**
!apps/api/uploads/.gitkeep
!apps/api/uploads/fotos-perfil/.gitkeep
!apps/api/uploads/conteudo/produtos/.gitkeep
